<div class="row m-2">
  <div class="col-12">
    <div class="pageTitle">nouvelle commande</div>
  </div>
  <hr/>
  <div class="col-12">
    <div *ngIf="!showClientInfo">
      <div class="row">
        <!-- <div class="col-md-1 text-30 my-auto">n° tél</div>
        <div class="col-11">
          <div class="d-flex">
            <input type="text" maxlength="1"
              (keyup)="goToNextPhoneDigit($event, null, digit2)"  #digit1 class="textBoxSquare" />
            <input  type="text" maxlength="1"
              (keyup)="goToNextPhoneDigit($event, digit1, digit3)"  #digit2 class="textBoxSquare" />
            <input  type="text" maxlength="1"
              (keyup)="goToNextPhoneDigit($event, digit2, digit4)"  #digit3 class="textBoxSquare" />
            <input  type="text" maxlength="1"
              (keyup)="goToNextPhoneDigit($event, digit3, digit5)"  #digit4 class="textBoxSquare" />
            <input  type="text" maxlength="1"
              (keyup)="goToNextPhoneDigit($event, digit4, digit6)"  #digit5 class="textBoxSquare" />
            <input  type="text" maxlength="1"
              (keyup)="goToNextPhoneDigit($event, digit5, digit7)"  #digit6 class="textBoxSquare" />
              <input  type="text" maxlength="1"
              (keyup)="goToNextPhoneDigit($event, digit6, digit8)"  #digit7 class="textBoxSquare" />
            <input  type="text" maxlength="1"
              (keyup)="goToNextPhoneDigit($event, digit7, digit9)"  #digit8 class="textBoxSquare" />
            <input  type="text" maxlength="1"
              (keyup)="goToNextPhoneDigit($event, digit8, digit10)"  #digit9 class="textBoxSquare" />
            <input  type="text" maxlength="1"
              (keyup)="goToNextPhoneDigit($event, digit9, null)"  #digit10 class="textBoxSquare" />
          </div>
        </div> -->
        <div class="col-md-5">
          <mdb-form-control>
            <input mdbInput type="text" id="name" (keyup)="findClients($event)" autocomplete="off"
              class="form-control form-control-lg mt-3" style="height: 65px; font-size: 45px;" />
            <label mdbLabel class="form-label" for="name"><span class="text-20">nom ou téléphone client</span></label>
          </mdb-form-control>
        </div>
        <div class="col-12"><hr/></div>
        <div class="col-md-12">
          <div *ngIf="clientsFound.length == 0" class="border rounded-lg p-2"><span class="text-22 textDarkRed">aucun client trouvé</span></div>
        </div>
        <div *ngIf="clientsFound.length > 0">
          <div class="col-md-12 text-15 textDarkRed my-2">clicker sur la ligne client pour sélectionner le client</div>
          <div *ngFor="let client of clientsFound" class="col-md-12 mb-1">
            <div class="border rounded-lg p-2" (click)="selectClient(client.id)" style="cursor: pointer;">
              <div class="d-md-flex">
                <div class="my-auto">
                  <img src="{{client.photoUrl || '../../../../assets/i/user.png'}}" alt="" style="width: 40px;" class="rounded-circle z-depth-0">
                </div>
                <div class="ml-md-3 text-20 textDarkBlue text-uppercase"><b>{{client.lastName}}</b></div>
                <div class="ml-md-3 text-20 textDarkBlue text-uppercase">{{client.lastName}}</div>
                <div class="ml-md-3 text-20">{{client.mobile}}</div>
                <div class="ml-md-3 text-20">20 commandes. 8 points de fidélité</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showClientInfo">
      <div class="card mb-2">
        <div class="card-body">
          <h5 class="card-title text-capitalize">{{clientLName}} {{clientLName}} {{clientMobile}}</h5>
          <hr/>
          <div>adresse : entre la pharmacie Ste Cécile et le bvd Latrille; 3 portail à gauche en venant de la phcie</div>
        </div>
      </div>
      <div class="card mb-2">
        <div class="card-body">
          <div class="row">
            <div class="col-md-3">
              <mdb-form-control>
                <input mdbInput type="text" [mdbDatepicker]="datepicker"
                  (click)="datepicker.open()" class="form-control" id="exampleDatepicker" />
                <label mdbLabel for="exampleDatepicker" class="form-label">date de livraison</label>
                <mdb-datepicker-toggle [mdbDatepicker]="datepicker"></mdb-datepicker-toggle>
                <mdb-datepicker [options]="datepickerOptions"  (dateChanged)="datepicker.close()"
                  [startDay]="1" #datepicker></mdb-datepicker>
              </mdb-form-control>
            </div>
            <div class="col-md-2">
              <mdb-form-control>
                <input mdbInput type="text" id="form1" class="form-control" (click)="timepicker.open()" [mdbTimepicker]="timepicker" required />
                <label mdbLabel class="form-label" for="form1">heure de livraison</label>
                <mdb-timepicker-toggle [mdbTimepickerToggle]="timepicker"></mdb-timepicker-toggle>
                <mdb-timepicker #timepicker [format24]="true"></mdb-timepicker>
              </mdb-form-control>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><b>détails de la commande</b></h5>
          <hr/>
          <div class="row">
            <div class="col-md-4 mb-2" *ngFor="let prod of products; let i = index">
              <div class="border rounded-lg p-2">
                <div class="row d-none d-md-block">
                  <div class="col-12">
                    <div class="d-flex">
                      <div class="text-20 my-auto flex-grow-1">
                        <b>{{prod.name}} @ <span class="textBlue">{{prod.price | number:'':'fr-FR'}}F</span></b>
                      </div>
                      <div class="d-md-flex my-auto">
                        <a (click)="qtyDown(i, prod.price)">
                          <i class="fad fa-minus-square fa-2x mr-2" style="--fa-secondary-opacity: 1;
                            --fa-primary-color:#ffffff;--fa-secondary-color:#192C47;"></i>
                        </a>
                        <div class="text-25 mx-3 my-auto"><b>{{prodQties[i]}}</b></div>
                        <a (click)="qtyUp(i, prod.price)">
                          <i class="fad fa-plus-square fa-2x mr-2" style="--fa-secondary-opacity: 1;
                            --fa-primary-color:#ffffff;--fa-secondary-color:#192C47;"></i>
                        </a>
                      </div>
                    </div>
                    <div class="text-15">2 sauces, un piment et une frite</div>
                  </div>
                </div>
                <div class="d-md-none">
                  <div class="text-25">{{prod.name}} @ {{prod.price | number:'':'fr-FR'}}F</div>
                  <div class="text-15">2 sauces et une frite</div>
                  <hr/>
                  <div class="d-flex justify-content-around">
                    <a (click)="qtyDown(i, prod.price)">
                      <i class="fad fa-minus-square fa-2x mr-2" style="--fa-secondary-opacity: 1;
                      --fa-primary-color:#ffffff;--fa-secondary-color:#192C47;"></i>
                    </a>
                    <div class="text-25 mx-3 my-auto"><b>{{prodQties[i]}}</b></div>
                    <a (click)="qtyUp(i, prod.price)">
                      <i class="fad fa-plus-square fa-2x mr-2" style="--fa-secondary-opacity: 1;
                        --fa-primary-color:#ffffff;--fa-secondary-color:#192C47;"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-md-9"></div>
            <div class="col-md-3">
              <div class="border rounded-lg p-2" style="background-color: #00008B; color: #ffffff;">
                <div class="row">
                  <div class="col-6 text-25"><b>TOTAL</b></div>
                  <div class="col-6 text-25  text-right"><b>{{totalOrder | number:'':'fr-FR'}} F</b></div>
                </div>
              </div>
            </div>
            <div class="col-12 mt-2">
              <div class="d-grid gap-2">
                <button type="button" class="btn btn-lg btnBlue">saisir la cde</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
